.pencilIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  grid-column: 2;
  grid-row: 1;
  color: white;
  cursor: pointer;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}

.init-btn {
  text-transform: capitalize;
  font-weight: bold;
  border: 2px solid #1b71e8;
  border-radius: 50px;
  padding: 15px;
}

.init-btn:hover {
  background-color: #808080;
}

.avatar {
  grid-column: 1/2;
  margin-bottom: -190px;
  margin-left: 100px;
}

.user-name {
  display: flex;
  font-size: 36px;
  margin-left: 100px;
}

.user-status {
  border: 1px solid #5c6169;
  border-radius: 35px;
  padding: 12px;
  /* margin: auto; */
  margin-right: -82%;
  display: flex;
  font-size: 18px;
}

.user-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-left: 100px;
}

.ring {
  -moz-box-shadow: 0 0 12px #808080;
  -webkit-box-shadow: 0 0 12px #808080;
  box-shadow: 0 0 12px #808080;
}

.info-container {
  margin-top: 60px;
  margin-left: 20px;
}

.chart-title {
  font-size: 26px;
  color: #5c6169;
  font-weight: 600;
  display: flex;
  padding-bottom: 15px;
}

.recent-date {
  color: #5c6169;
}

.chart-container {
  padding: 40px;
  border: 2px solid #808080;
  border-radius: 75px;
  -moz-box-shadow: 0 0 12px #808080;
  -webkit-box-shadow: 0 0 12px #808080;
  box-shadow: 0 0 12px #808080;
  margin-bottom: 30px;
  /* overflow: hidden;
  white-space: nowrap; */
}

.goal-circle {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 35% 0;
  /* align-items: center; */
  background: transparent;
  border: 6px solid #02b151;
  color: #02b151;
  text-align: center;
  font-size: 58px;
}

hr.goal-hr {
  margin-top: 25px;
  border: 1px solid #808080;
  width: 100%;
}

/* .goal-text {
  border: 2px solid #02b151;
} */

.buy-btn {
  border: 3px solid #00b050;
  border-radius: 5px;
  /* padding-left: 25px;
  padding-right: 25px; */
  width: 80px;
  color: #00b050;
  font-weight: bold;
}
.retire-btn {
  border: 3px solid #337fea;
  border-radius: 5px;
  width: 80px;
  color: #337fea;
  font-weight: bold;
}

.sell-btn {
  border: 3px solid #c00000;
  border-radius: 5px;
  width: 80px;
  color: #c00000;
  font-weight: bold;
}

.recent-quantity {
  /* font-size: large; */
  font-weight: bold;
  overflow: hidden;
  padding: 4px;
  display: flex;
}

.account-info-container {
  /* margin-left: 120px; */
  display: grid;
  /* margin-left: 100px; */
  max-width: 50%;
  
}


