@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100%;
}

:root {
  --background-color: #fdfdfd;
  --white: #000000;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  text-rendering: optimizeSpeed;
  max-width: 100%;
}


.table-container > div:first-of-type {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.table-container > div:last-of-type {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}


.card {
  border-radius: 50%/30px;
  /* text-shadow: 1.5px 0px rgb(188, 187, 187); */
  box-shadow: 3.5px 0px rgba(0, 0, 0, 0.5);
  background-color: #fedd77;
}

.card-actions {
  display: grid;
  align-items: end;
  flex: 1;
}

.card-details {
  background-color: #ffea5d;
}


.main-card {
  border-radius: 50%/30px;
  /* TEXT SHADOW: offset-x | offset-y | color */
  text-shadow: 1.5px 0px rgb(188, 187, 187);
  background-color: #fedd77;
  width: 20rem;
  box-shadow: 3.5px 0px rgba(0, 0, 0, 0.5);
}

.bg-highlight {
  background-color: #ffea5d;
}

.allow-overlap {
  max-height: 3rem;
  max-width: 20rem;
}

.overlap-img {
  /* Shifts the img 1 rem right  without altering parent div*/
  position: relative;
  left: 1rem;
}

.text-xsm{
  font-size: .7rem;
}

.text-content {
  font-size: 1.8rem;
  /* 24px */
  line-height: 2.25rem;
  /* 32px */
}