@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.cdnfonts.com/css/avenir');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100%;
}

:root {
  --background-color: #fdfdfd;
  --white: #04111D;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

*{
  font-family: "avenir", sans-serif;
}

body {
  background: var(--background-color);
  font-family: "avenir", sans-serif;
  color: var(--white);
  display: flex;
  text-rendering: optimizeSpeed;
  
}

/* .table-container > div:first-of-type {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.table-container > div:last-of-type {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
} */

tr:last-child {
  border-bottom: none;
}

.table-container {
  overflow-x: auto;
}


/* thead {
  position: sticky;
  position: -webkit-sticky;
  position: -ms-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  top: 0px;
} */

td {
  padding: 10px;
}

.card {
  border-radius: 50%/30px;
  /* text-shadow: 1.5px 0px rgb(188, 187, 187); */
  box-shadow: 3.5px 0px rgba(0, 0, 0, 0.5);
  /* background-color: #fedd77; for yellow card */
  background-color: #5fbbff;
}

.card-actions {
  display: grid;
  align-items: end;
  flex: 1;
}

.card-details {
  /* background-color: #ffea5d; for yellow card */
}


.main-card {
  border-radius: 50%/30px;
  /* TEXT SHADOW: offset-x | offset-y | color */
  text-shadow: 1.5px 0px rgb(188, 187, 187);
  background-color: #5fbbff;
  width: 20rem;
  box-shadow: 3.5px 0px rgba(0, 0, 0, 0.5);
}

.bg-highlight {
  /* background-color: #ffea5d; for yellow card*/
  background-color: #4bc1ff;
}

.allow-overlap {
  max-height: 3rem;
  max-width: 20rem;
}

.overlap-img {
  /* Shifts the img 1 rem right  without altering parent div*/
  position: relative;
  left: 1rem;
}

.text-xsm{
  font-size: .7rem;
}

.text-content {
  font-size: 1.8rem;
  /* 24px */
  line-height: 2.25rem;
  /* 32px */
}

th {
  padding-bottom: 12px;
}

/* Carbon credit quantity Unit(s) table field */
#credit-quantity {
  border: 2px solid #808080;
  font-weight: bold;
  font-size: large;
  overflow: hidden;
  border-radius: 8px;
  perspective: 1px;
  display: inline-block;
  padding: 4px;
  display: flex;
  padding: 10px;
}

/* Claim Button for table & cards*/
.claim-btn {
  text-transform: capitalize;
  font-size: medium;
  width: 125px;
  border-radius: 32px;  
  background-color: #1b71e8;
  border: none;
}

.claim-btn:hover {
  background-color: #04111D ;
}

/* toggle button */
.toggle {
  background-color: #888888;
}

.select {
  border: 2px #E4E8EB solid;
  background-color: transparent;
  border-radius: 12.8px;  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../public/down_arrow.png') 96% / 15% no-repeat;
  background-size: 20px;
}


.select:focus {
  border: 2px #979797 solid; 
  outline: none;
}
option {
  font-weight: bold;
  font-size: 17px;
  background-color: transparent;
}


/* labels for filters */
.label:hover {
  background-color: rgb(228, 232, 235, 0.3);
}

.steps .step-primary + .step-primary:before, .steps .step-primary:after {
  background: #1B71E8;
 
}

.steps {
  font-weight: bold;
}

.pencilIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

