@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100%;
}

:root {
  --background-color: #fdfdfd;
  --white: #000000;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  text-rendering: optimizeSpeed;
  max-width: 100%;
}


.table-container > div:first-of-type {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.table-container > div:last-of-type {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card-actions {
  display: grid;
  align-items: end;
  flex: 1;
}