.fractionalize-card {
    width: 40%;
    
    /* padding-bottom: 100%; */
}

.fract-container {
    width: fit-content;
}

.card {
    width: 250px;
    border-radius: 15px;
}

.card:focus{
    border: 5px solid red;
}

.card-body {
    border: 1px solid #979797;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
    padding-top: 20px;
    height: auto;
}

.fract-img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.nft-details {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.card-buttons {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10px;
    margin: auto;
    /* display: flex; */
}


.retire-btn {
    color: #fdfdfd;
    text-transform: capitalize;
    font-size: medium;
    /* padding: 15px; */
    border-radius: 50px;  
    background-color: #1b71e8;
    width: 40%;
    border: none;
    margin-left: 60px;
    margin-top: 20px
  }

  .fract-btn:hover {
    background-color: #ADD8E6 ;
  }

  .retirement-input {
    border-radius: 10px;
  }